<template>
  <div v-if="!loading && currentEmployee">
    <employee-navbar
      :page-title="pageTitle"
      :breadcrumb-menu="breadcrumbMenu"
      :is-secondary-page="isSecondaryPage"
      :page-type="pageType"
      :current-employee-id="currentEmployee.id"
      @goTo="goTo"
      @handleFormReset="handleFormReset"
    />
    <b-container fluid class="p-3">
      <employee-form :editable="false" :employee="currentEmployee" />
    </b-container>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { provide, consume } from 'provide-consume-decorator'
import { getModule } from 'vuex-module-decorators'
import { Dictionary } from 'vue-router/types/router'
import { path } from 'ramda'
import { Employee } from '@/types/employee'
import Form from '@/components/Employee/EmployeeForm.vue'
import EmployeeStore from '@/store/modules/employee'
import EmployeeNavbar from '@/components/Employee/EmployeeNavbar.vue'

interface Store {
  employee: EmployeeStore
}

@Component({
  components: { 'employee-form': Form, 'employee-navbar': EmployeeNavbar },
  head() {
    return {
      title: `View an Employee`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'You can view an employee'
        }
      ]
    }
  }
})
@provide({
  store(): Store {
    return {
      employee: getModule(EmployeeStore, this.$store)
    }
  }
})
export default class EmployeeView extends Vue {
  @consume('store') store!: Store

  private pageTitle: string | null = null

  private pageType = 'View'

  private thirdLevelBreadcrumb = {
    cursor: 'default',
    'text-decoration': 'none',
    color: '#cacaca'
  }

  private breadcrumbMenu = [
    {
      text: 'Employees',
      func: this.handleFormReset
    },
    {
      text: 'View & Manage',
      func: this.handleFormReset
    },
    {
      text: 'View',
      style: this.thirdLevelBreadcrumb
    }
  ]

  private isSecondaryPage = true

  private loading = true

  private employee: Employee | null = null

  get currentEmployee() {
    return this.employee
  }

  goTo(name: string, id?: string) {
    const params = {} as Dictionary<string>
    if (id) {
      params.id = id
    }
    this.$router.push({ name, params })
  }

  handleFormReset() {
    this.goTo('employees')
  }

  created() {
    if (!path(['$route', 'params', 'id'], this)) {
      this.$router.replace({ name: 'employee' })
    } else {
      this.loading = true
      this.store.employee.getEmployee(this.$route.params.id).then((res) => {
        this.loading = false
        this.employee = res
        this.pageTitle = this.employee.displayName
      })
    }
  }
}
</script>
