<template>
  <b-sidebar
    id="sidebar-1"
    shadow
    visible
    no-header-close
    no-close-on-route-change
    width="240px"
    z-index="0"
  >
    <div>
      <h1 class="logo-img">
        <a href="#" aria-label="Home page"> </a>
      </h1>
    </div>
    <div class="py-2">
      <options :options="options" />
    </div>
  </b-sidebar>
</template>

<script lang="ts">
import Vue from 'vue'
import Options from './Options.vue'

export default Vue.extend({
  name: 'Sidebar',
  components: { Options },
  data() {
    return {
      options: [
        {
          name: 'Employees',
          className: 'accordion-items is-active',
          link: '/employees',
          icon: 'i i-user-2',
          suboptions: [
            {
              name: 'View & Manage',
              link: '/employees',
              icon: 'i i-list-1'
            },
            {
              name: 'Add New',
              link: '/employees/create',
              icon: 'i i-plus'
            }
          ]
        },
        {
          name: 'Logout',
          className: 'logout',
          icon: 'i i-logout',
          func: () => {
            this.$emit('logoutClick')
          }
        }
      ]
    }
  }
})
</script>

<style>
.b-sidebar > .b-sidebar-body {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.logo-img {
  background-image: url(../../assets/img/logo-glee.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 200px;
  height: 45px;
  margin: 25px 0.5em;
}
</style>
